<mat-sidenav-container class="container">
  <mat-sidenav class="left-side" opened mode="side">
    <mat-card>
      <mat-icon class="people-icon">people</mat-icon>
      <mat-label class="online-users-text">Online users</mat-label>
    </mat-card>
  </mat-sidenav>
  <mat-sidenav class="right-side" opened mode="side" position="end">
  </mat-sidenav>
  <form (submit)="onSend(sendForm)" #sendForm="ngForm">
    <mat-card class="message-input-card">
      <mat-form-field class="message-input">
        <input name="message" ngModel matInput placeholder="Type your message" #messageInput="ngModel">
      </mat-form-field>
      <button class="send-button" mat-raised-button color="primary" type="submit">SEND</button>
    </mat-card>
  </form>
</mat-sidenav-container>
