.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;

}
.mat-card{
  text-align: center;
}

.chat-screen{
  text-align: center  ;
}
.left-side{
  width: 18%;
}
.people-icon{
  font-size: 32px;
  vertical-align: middle;
}
.online-users-text{
  font-size: 20px;
}
.message-input-card{
  width: 80%;
  position: fixed;
  margin: auto;
  bottom: 50px;
}
.message-input{

  bottom: 0;
  margin:auto;
  width: 70%;

}
.send-button{

  left: 12px;
  bottom: 7px;

}

.message-list{
  list-style-position: inside;
}
.chat-box{
  background-color: #fafafa;
  height: 80%;
  width: 83%;
  margin:auto;
  margin-right: 118px;
  overflow-y: scroll;
  flex-direction: column;
  font-family: 'proxima-nova', sans-serif;
	font-size: 18px;
}

.chat-box::-webkit-scrollbar {
  display: none;
}
