<mat-sidenav-container class="container">
  <mat-sidenav class="left-side" opened mode="side">
    <mat-card>
      <mat-label class="online-users-text">Online users</mat-label>
    </mat-card>
    <mat-selection-list id="online-users" #onlineUser [multiple]="false"
      (click)="onSelectedUserChange(onlineUser.selectedOptions.selected[0].value)">
      <div *ngFor="let user of onlineUsers">
        <mat-list-option *ngIf='user != null && user != myUsername' [value]="user">
          {{user}}
        </mat-list-option>
      </div>
    </mat-selection-list>
  </mat-sidenav>
  <mat-sidenav class="right-side" opened mode="side" position="end">
    <div (click)="onLogout()">
      <button mat-raised-button>Logout</button>
    </div>
  </mat-sidenav>
  <div class="chat-box" id="message-list"></div>
  <div class="chat-screen">
    <form (submit)="onSend(sendForm)" #sendForm="ngForm" autocomplete="off">
      <div class="message-input-card">
        <mat-form-field class="message-input">
          <input name="message" ngModel matInput placeholder="Type your message" #messageInput="ngModel">
        </mat-form-field>
        <button class="send-button" mat-raised-button color="primary" type="submit">SEND</button>
      </div>
    </form>
  </div>
</mat-sidenav-container>
